.info-price {
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	&__status {
		color: #4c4c4c;
	}
	&__response-status {
		color: #f3546a;
	}
	&__wr-price {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	&__price {
		font-size: 42px;
		line-height: 42px;
		font-weight: bold;
		display: inline-block;
	}
}