@font-face {
  font-family: 'Dinnextltpro Regular';
  src:  url('../fonts/dinnextltpro-regular-webfont.eot');
  src:  url('../fonts/dinnextltpro-regular-webfont.eot#iefix') format('embedded-opentype'),
    url('../fonts/dinnextltpro-regular-webfont.ttf') format('truetype'),
    url('../fonts/dinnextltpro-regular-webfont.woff') format('woff'),
    url('../fonts/dinnextltpro-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pfdintextcomppro Regular';
  src:  url('../fonts/pfdintextcomppro-regular-webfont.eot');
  src:  url('../fonts/pfdintextcomppro-regular-webfont.eot#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}