%div.carousel.js-carousel
  %div.carousel__gallery
    %ul.carousel__elems.js-carousel__elems
      %li.carousel__elem.js-carousel__elem
        %div.carousel__wr-img
          %img.carousel__img{src:"assets/img/carousel/sport-men-clothing-tshirts-rebond.png"}
          %div.carousel__hover
            %div.carousel__text
              %span
                our iconic
                %br blazer
            %a.carousel__button{href:"#"}
              %span
                read the story
      %li.carousel__elem.js-carousel__elem
        %div.carousel__wr-img
          %img.carousel__img{src:"assets/img/carousel/lacoste-live-rebond.png"}
          %div.carousel__hover
            %div.carousel__text
              %span
                our iconic
                %br blazer
            %a.carousel__button{href:"#"}
              %span
                read the story
      %li.carousel__elem.js-carousel__elem
        %div.carousel__wr-img
          %img.carousel__img{src:"assets/img/carousel/lacoste-casual-home-icons-blaser.png"}
          %div.carousel__hover
            %div.carousel__text
              %span
                our iconic
                %br blazer
            %a.carousel__button{href:"#"}
              %span
                read the story
  %button.carousel__arrow.carousel__arrow_prev.js-carousel__arrow_prev
  %button.carousel__arrow.carousel__arrow_next.js-carousel__arrow_next