  %div.color-radiobutton
    %span.color-radiobutton__title
      Color
    %div.color-radiobutton__wr-colors
      %input.color-radiobutton__radio-button#color-radiobutton-white{type:"radio", name:"celection-color", value:"white", checked:true}
      %label.color-radiobutton__label.js-color-radiobutton__label{for:"color-radiobutton-white"}
      %input.color-radiobutton__radio-button#color-radiobutton-blue{type:"radio", name:"celection-color", value:"blue"}
      %label.color-radiobutton__label.js-color-radiobutton__label.color-radiobutton__label_blue{for:"color-radiobutton-blue"}
      %input.color-radiobutton__radio-button#color-radiobutton-purple{type:"radio", name:"celection-color", value:"purple"}
      %label.color-radiobutton__label.js-color-radiobutton__label.color-radiobutton__label_purple{for:"color-radiobutton-purple"}
      %input.color-radiobutton__radio-button#color-radiobutton-red{type:"radio", name:"celection-color", value:"red"}
      %label.color-radiobutton__label.js-color-radiobutton__label.color-radiobutton__label_red{for:"color-radiobutton-red"}
  