%div.price-info
  %span.price-info__status
    Availability:
  %span.price-info__response-status
    in stock
  %div.price-info__wr-price
    %span.price-info__price.price-info__price_now
      $30.00
    %span.price-info__price.price-info__price_old
      $37.59&#160
    %span.price-info__price.price-info__price_new
      $30.00

