%div.product-info
  %div.product-info__wr-description
    %h3.product-info__description-title
      Nautical print T-shirt
    %span.product-info__description-code
      th3863-00
    %div.product-info__description
      %span
        An anchor and marine flags accent the chest of this
        %br nautical-inspired Lacoste T-shirt. A comfortable piece perfect
        %br for urban adventures.
      %div.product-info__wr-description-items
        %div.product-info__drop-down.js-product-info__drop-down
          %span.product-info__drop-down-text
            read more
        %ul.product-info__description-items.js-product-info__description-items
          %li.product-info__description-item
            %span.product-info__description-item-text
              Regular fit
          %li.product-info__description-item
            %span.product-info__description-item-text
              Crew neck
          %li.product-info__description-item
            %span.product-info__description-item-text
              Lacoste Yachting branding on chest
          %li.product-info__description-item
            %span.product-info__description-item-text
              Other
          %li.product-info__description-item
            %span.product-info__description-item-text
              Round neck
          %li.product-info__description-item
            %span.product-info__description-item-text
              COTTON (100%)