  %div.select-button.select-button_margin
    %span.select-button__title
      Quantity
    %div.select-button__styled-select
      %select.select-button__select
        %option.select-button__option
          1
        %option.select-button__option
          2
        %option.select-button__option
          3