  %div.select-button
    %span.select-button__title
      Size
    %div.select-button__styled-select
      %select.select-button__select
        %option.select-button__option
          select one
        %option.select-button__option
          select two
        %option.select-button__option
          select three