%div.share
  %span.share__title
    Share:
  %a.share__link.share__link_fb{href:"#"}
  %a.share__link.share__link_tw{href:"#"}
  %a.share__link.share__link_g-plus{href:"#"}
  %a.share__link.share__link_pin{href:"#"}