.editor-form {
	padding-left: 10px;
	padding-right: 10px;
}
.editor-input {
	max-width: 100%;
	width: 500px;
	margin-bottom: 0px;
}

.editor-input_company {
	margin-top: 36px;
}
.editor-input_goods {
	width: auto;
	width: 100px;
	float: left;
}
.new-product {
	width: 150px;
}
/*.md-icon-button_d {
	display: inline;
}*/