.center-title {
	border-top: 1px solid #ff6138;
	text-align: center;
	margin: 41px auto 20px auto;

	&__button {
		background-color: #ff6138;
		font-size: 26px;
		line-height: 42px;
		padding: 0 20px;
		color: #fff;
		text-transform: uppercase;
		display: inline-block;
		font-family: "Pfdintextcomppro Regular";
		word-spacing: 5px;
		margin-top: -21px;
	}
}